# Fichier à ignorer par Docker
notes.md
/CEE_export_to_CSV
/CEE_import_to_XLS
/__pycache__
/.pytest_cache
/.git
.gitignore
recherche_liste.ipynb
/.DS_Store
/.ipynb_checkpoints
notes-perso.md
exemple_trio.txt
exemple_reel.txt
pytest.ini
test_*
